/* sered styles */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;

}
.btn:hover{
    background-color: #353a37;
}
.color-green{
    color: #469165;
}


/* main-style */
header {
    /* background-color: aquamarine; */
    padding-top: 16px;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 1517px;
    height: 765px;
}
nav{
    width: 84%;
    max-width: 1277px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 20px;
}
nav .manu{
    display: flex;
    list-style: none;
    align-items: center;
}
nav .manu a{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    padding: 32px;
}
.manu .h-btn{
    padding-left: 303px;
}
/* navber is comlpet */

/* banner style start */

#banner{
    /* border: 2px solid red; */
    /* margin-bottom: 100px; */
    max-width: 1517px;
    height: 674px;
    

}
#banner .banner-content {
  text-align: center;
  margin: 100px auto;
  padding-top: 30px;
}
.banner-content .b-btn{
    padding: 8px 12px 8px 34px;
    font-size: 16px;
    font-weight: 600;
    color: #469165;
    border: none;
    border-radius: 1000px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
}
.b-btn i {
    margin-right: 10px;
}
.banner-content h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    text-align: center;
    margin-bottom: 16px;
}
.banner-content p{
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    /* text-align: center; */
    margin-bottom: 32px;
}
.see-how {
    margin-left: 16px;
    border: 3px solid white;
    background: none;
}
/* banner style compled */

/* note style start */


#note .note-container .note-box{
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 84%;
    max-width: 1277px;
    margin: 0 auto;
}
.section-heading{
    max-width: 1277px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 50px;
    margin-bottom: 16px;
}
.section-heading p{
    font-size: 16px;
    margin-bottom: 44px;
    line-height: 20px;
    color: #627382;
}
.note-box .note-card{
    padding: 70px 24px;
    /* border: 2px solid black; */
    max-width: 300px;
    box-shadow: 0 0px 8px 0 #00000027;
}
.note-card img .bg{
    max-width: 32px;
    margin-bottom: 30px;
    align-items: center;
}
   
.bg{
  width: 60px;
  height: 60px;
  background-color: #ff5a5a;   
  border-radius: 50%;          
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 16px;
}

.note-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
}
.note-card p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    text-align: center;
}
/* note styles is complet */

/* banner-2 styles starts */

#banner-2{
    /* border: 2px solid black; */
    /* margin: 47px 6px 0px 230px; */
    display: flex;
    justify-content: space-around;
    gap: 60px;
    align-items: center;
    width: 84%;
    margin: 0 auto;
}
#banner-2 .banner-image{
    padding: 120px 0;
}
#banner-2 .banner-content2{
    max-width: 677px;
}
#banner-2 .banner-content-2 h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color:#469165;
    margin-bottom: 16px;
}
#banner-2 .banner-content-2 h1{
    font-size: 48px;
    font-weight: bold;
    color:#001931;
    margin-bottom: 16px;
}
#banner-2 .banner-content-2 p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 617px;
}
.banner-content-2 ul li{
    list-style-type: none;
}
.banner-content-2 li{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #001931;
    max-width: 617px;
    padding-bottom: 16px;
}
.banner-content-2 li i {
    margin-right: 10px;
    color: #30B868;
    max-width: 20px;
    
}
/* banner-2 style comlpet */

/* ready section style start */

#ready{
    max-width: 1277px;
    width: 84%;
    margin: 0 auto;
}
#ready .ready-container{
    text-align: center;
    background-color: #F7F6F2;
}
.ready-container h2{
    padding-top: 80px;
    margin-bottom: 16px;
}
.ready-container p{
    margin-bottom: 24px;
    text-align: center;
    line-height: 24px;
}
.ready-container .peragraph{
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    text-align: center;
    padding-bottom: 80px;
}
/* ready section complet */

/* footer start */

footer{

    background-color: #001931;
    padding: 120px 120px 165px 120px;
    height: 350px;
    margin-top: 100px;
}
footer .footer-container{
    max-width: 1277px;
    width: 84%;
    display: flex;
    justify-content: space-between;
    
}
.footer-container .social p{
    font-size: 20px;
    font-weight: 500px;
    line-height: 28px;
    color: white;
    margin-bottom: 16px;
}

.icon a i {
    color: black;
    margin-right: 16px;
    background: white;
    background-size: 40px;
    border-radius: 50%;
    
}
.footer-bottom {
  text-align: center;
  padding-top: 100px;
  font-size: 14px;

}
.footer-bottom p{
    color: #FFFFFF;
    margin-top: 25px;
}
.footer-bottom hr{
    color: #e5e7eb44;
}
